
@keyframes moveControlLeft {
  0% {
    transform: translateX(-80px) rotate(-220deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes moveControlRight {
  0% {
    transform: translateX(80px) rotate(220deg);
  }

  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes moveBtnPlayRound {
  0% {
    transform: translateX(50px) rotate(90deg);
  }

  100% {
    transform: none;
  }
}

@keyframes showBtnPlay {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
